<style>
  .modal-content {
    background-color: #212121;
    color: #fff;
  }
</style>

<div class="modal fade" id="Modal-Delete-{{ four.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete fournisseur {{four.nom}} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST">
          {% csrf_token %}
      <div class="modal-body">
          <h4 class="text-center">
              Are you sure you want to delete {{ four.nom }} ?
          </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <a href="{% url 'delete_fournisseur' four.id %}" class="btn btn-danger">Delete</a>
      </div>
  </form>
    </div>
  </div>
</div>